{% extends 'base.html' %}

{% block titre %}
Arrêts
{% endblock %}

{% block milieu %}
<h2>Liste des arrets par ligne</h2>

<table>
    <th>Ligne</th>
    <th>Arrêt</th>
    <th>Adresse</th>
    {% for arret in afficher_arrets %}
    <tr>
        <td>{{ arret.nom_ligne }}</td>
        <td>{{ arret.nom_arrets }}</td>
        <td>{{ arret.adresse }}</td>
    </tr>

    
    {% endfor %}

</table>
<div id="button_retour">
    <button><a href="{{url_for('afficher_lignes')}}">Retour</a></button>
</div>
{% endblock %}