{% extends 'base.html' %}

{% block titre %} Gestion des bus {% endblock %}

{% block milieu %}
<h2>Gestion des bus</h2>
<form action="{{url_for('modification')}}" method='POST'>

    <div id="container">

        <h3>Modifier un bus</h3>
        <div class="bloc">
            <label for="id_bus">Bus à modifier</label>
            <select name="id_bus_saisi" id="id_bus">
                {% for element in list_id_bus %}
                <option value="{{ element }}">{{ element }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="bloc">
            <label for="num">Numéro de bus :</label>
            <input type="text" id="num" name="bus_num">
        </div>

        <div class="bloc">
            <label for="immatriculation">Immatriculation :</label>
            <input type="text" id="immatriculation" name="bus_immatriculation">
        </div>

        <div class="bloc">
            <label for="nb_place">Nombre de place :</label>
            <input type="text" id="nb_place" name="bus_nb_place">
        </div>

        <div class="bloc">
            <label for="id_ligne">Id Ligne :</label>
            <input type="text" id="id_ligne" name="id_ligne">
        </div>

        <div id="button_send">
            <button type="submit">Valider</button>
        </div>

    </div>
</form>


{% endblock %}